################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Spotify/FileContentIndex/193515c9-8bf5-45b7-8439-1a935e65f31f.vsidx
