################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Spotify/FileContentIndex/193515c9-8bf5-45b7-8439-1a935e65f31f.vsidx
/.vs/Spotify/FileContentIndex/9bd967ca-f787-430e-93f8-14007b99a42c.vsidx
/.vs/Spotify/FileContentIndex/abc2e6a9-d854-401e-b090-86328f245a02.vsidx
*.vsidx
